@* @model List<ProjetoAgenda.Models.Usuario>; *@

@model ProjetoAgenda.ViewModel.CadastroCompletoViewModel;


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card shadow-lg border-0 rounded-4" style="width: 600px;top: -70px;">
            <div class="card-header bg-primary text-white text-center fs-4 fw-bold rounded-top-4">
                Adicionar celular
            </div>
            <div class="card-body text-center p-4">

                <form asp-controller="Usuario" asp-action="AdicionarContato" method="post">
                    <div class="mb-3">
                        <label class="form-label"><strong>Nome</strong></label>
                        <input class="form-control" value="@Model.Usuario.Nome" disabled />
                        <input type="hidden" name="Usuario.UsuarioId" value="@Model.Usuario.UsuarioId" />

                        <label asp-for="Telefone[0].NumeroTelefone" class="form-label">Novo Telefone</label>
                        <input asp-for="Telefone[0].NumeroTelefone" class="form-control" placeholder="(00) 00000-0000"/>
                        <span asp-validation-for="Telefone[0].NumeroTelefone" class="text-danger"></span>

                        <hr />
                        <p><strong>Números já cadastrados: </strong></p>
                        @foreach (var num in (List<Telefone>)ViewBag.TelefonesAntigos)
                        {
                            <p style="background-color: lightgrey; border-radius: 3px;">
                                @num.NumeroTelefone (@num.Situacao)
                            </p>                            
                        }   

                        
                        @*                    <label asp-for=""  class="form-label">digite o novo número.</label>
                        <input type="tel" class="form-control" id="" placeholder="(00)00000-0000"> *@
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg">Adicionar</button>

                    <a asp-controller="Usuario" asp-action="Index" class="btn btn-secondary btn-lg">Cancelar</a>
                </form>

                @*<button type="button" class="btn btn-secondary btn-lg">Deixar quieto</button>*@
            </div>

            <p>

                @*            @foreach (var num in Model.Telefones)
                {
                    @num.NumeroTelefone
                } *@
            </p>
        </div>
    </div>
