@model ProjetoAgenda.ViewModel.CadastroCompletoViewModel

@{
    ViewData["Title"] = "Cadastrar Contato";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded-4">
                <div class="card-header bg-success text-white text-center fs-4 fw-bold rounded-top-4">
                    Cadastro de Contato
                </div>
                <div class="card-body bg-light">
                    <form asp-controller="Usuario" asp-action="CadastrarNoBanco" method="post">

                        <p class="text-center fs-5 fw-bold">Dados Pessoais</p>

                        <div class="mb-3">
                            <label asp-for="Usuario.Nome" class="form-label"></label>
                            <input asp-for="Usuario.Nome" class="form-control" />
                            <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Usuario.Email" class="form-label"></label>
                            <input asp-for="Usuario.Email" class="form-control" />
                            <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Usuario.DataNascimento" class="form-label"></label>
                            <input asp-for="Usuario.DataNascimento" type="date" class="form-control" />
                            <span asp-validation-for="Usuario.DataNascimento" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefone[0].NumeroTelefone" class="form-label">Telefone</label>
                            <input asp-for="Telefone[0].NumeroTelefone" class="form-control" placeholder="(00) 00000-0000" />
                            <span asp-validation-for="Telefone[0].NumeroTelefone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DocumentoIdentificacao.TipoDocumento" class="form-label"></label>
                            <select asp-for="DocumentoIdentificacao.TipoDocumento" class="form-select">
                                <option selected disabled>Selecione o tipo de documento</option>
                                <option value="cpf">CPF</option>
                                <option value="rg">RG</option>
                                <option value="cnh">CNH</option>
                                <option value="passaporte">Passaporte</option>
                                <option value="titulo_eleitor">Título de Eleitor</option>
                                <option value="cert_reservista">Certificado de Reservista</option>
                                <option value="ctps">CTPS</option>
                                <option value="carteira_profissional">Carteira Profissional</option>
                                <option value="rne">RNE</option>
                                <option value="cert_nascimento">Certidão de Nascimento</option>
                                <option value="cert_casamento">Certidão de Casamento</option>
                            </select>
                            <span asp-validation-for="DocumentoIdentificacao.TipoDocumento" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DocumentoIdentificacao.NumeroDocumento" class="form-label"></label>
                            <input asp-for="DocumentoIdentificacao.NumeroDocumento" class="form-control" />
                            <span asp-validation-for="DocumentoIdentificacao.NumeroDocumento" class="text-danger"></span>
                        </div>

                        <p class="text-center fs-5 fw-bold">Endereço</p>

                        <div class="mb-3">
                            <label asp-for="Endereco.Logradouro" class="form-label"></label>
                            <select asp-for="Endereco.Logradouro" class="form-select">
                                <option selected disabled>Selecione o tipo de logradouro</option>
                                <option value="rua">Rua</option>
                                <option value="avenida">Avenida</option>
                                <option value="travessa">Travessa</option>
                                <option value="alameda">Alameda</option>
                                <option value="estrada">Estrada</option>
                                <option value="rodovia">Rodovia</option>
                                <option value="vielas">Viela</option>
                                <option value="praça">Praça</option>
                                <option value="largo">Largo</option>
                                <option value="quadra">Quadra</option>
                                <option value="conjunto">Conjunto</option>
                                <option value="bairro">Bairro</option>
                                <option value="sitio">Sítio</option>
                                <option value="fazenda">Fazenda</option>
                                <option value="chacara">Chácara</option>
                                <option value="outro">Outro</option>
                            </select>
                            <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Endereco.NumeroEndereco" class="form-label"></label>
                            <input asp-for="Endereco.NumeroEndereco" class="form-control" />
                            <span asp-validation-for="Endereco.NumeroEndereco" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Endereco.Cep" class="form-label"></label>
                            <input asp-for="Endereco.Cep" class="form-control" />
                            <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Endereco.Bairro" class="form-label"></label>
                            <input asp-for="Endereco.Bairro" class="form-control" />
                            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                        </div>

                        <!-- ESTADO COM GET -->
                        <div class="mb-3">
                            <label class="form-label">Estado</label>
                            <select class="form-select" onchange="location.href='@Url.Action("CadastrarContato", "Usuario")?estadoSelecionadoId=' + this.value;">

                                <option disabled)>Selecione o estado</option>
                                @foreach (var estado in Model.Ufs)
                                {
                                    <option value="@estado.EstadoId">
                                        @estado.NomeEstado
                                    </option>
                                }
                            </select>
                        </div>

                        <!-- CIDADE BASEADA NO ESTADO -->
                        <div class="mb-3">
                            <label class="form-label">Cidade</label>
                            <select asp-for="Endereco.Cidade" class="form-select">
                                <option disabled selected>Selecione a cidade</option>
                                @foreach (var cidade in Model.Cidades)
                                {
                                    <option value="@cidade.NomeCidade">@cidade.NomeCidade</option>
                                }
                            </select>
                            <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                        </div>

                        <input type="hidden" name="Endereco.Situacao" value="Ativo" />
                        <input type="hidden" name="Telefone[0].Situacao" value="Ativo" />

                        <div class="mb-3">
                            <label asp-for="Endereco.Complemento" class="form-label"></label>
                            <input asp-for="Endereco.Complemento" class="form-control" />
                            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success ms-2">Salvar</button>
                            <a asp-controller="Usuario" asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>