@model ProjetoAgenda.ViewModel.CadastroCompletoViewModel;

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-4" style="background-color: lightgrey;">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4" style="font-family: 'Inter', sans-serif; font-weight: 700; color: #343a40;">
                        <div style="text-align:center; font-size: 40px">
                            <strong> Dados do Contato </strong
                            <p>


                            </p>
                        </div>
                    </h2>
                    <dl class="row fs-5">
                        <dt class="col-sm-4">Nome:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Nome</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Email</dd>

                        <dt class="col-sm-4">Data de Nascimento:  </dt>
                        <dd class="col-sm-8">@Model.Usuario.DataNascimento.ToString("dd/MM/yyyy")</dd>


                        <dt class="col-sm-4">Telefones:</dt>
                        <dd class="col-sm-8">
                            <ul>
                                @foreach(var telefones in Model.Usuario.Telefones){
                                    <div class="card shadow-lg border-0 rounded-4" style="background-color: dimgrey; color:black;">
                                        <li>Id do telefone: @telefones.TelefoneId </li>
                                        <li>telefone: @telefones.NumeroTelefone </li>
                                        <li>Situacao: @telefones.Situacao </li>
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="width: 400px; align-items:center;">
                                            @* <form>
                                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                  <button type="button" class="btn btn-danger">Apagar Número</button>
                                                  <button type="submit" class="btn btn-warning">Inativar Número</button>
                                                  <button type="button" class="btn btn-success">Ativar número</button>
                                                </div>
                                            </form> *@
                                    @*     <tr>
                                            <td>
                                                @telefones.NumeroTelefone
                                            </td>
                                             <td>
                                                 @telefones.TelefoneId
                                             </td>
                                        </tr> *@
                                        
                                              <form asp-action="TornarInativo" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="button" class="btn btn-warning" style="width:80px;height: 50px;font-size:13px;" data-bs-toggle="modal" data-bs-target="#minhaModal">Inativar Número</button>
                                            </form>
                                            
                                            
                                             <form asp-action="TornarAtivo" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="button" class="btn btn-success" style="width:80px;height: 50px;font-size:13px;"  data-bs-toggle="modal" data-bs-target="#minhaAtiva">Ativar número</button>
                                            </form>

                                            <form asp-action="ApagarCelular" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="button" class="btn btn-danger"  style="width:80px;height: 50px;font-size:13px;"  data-bs-toggle="modal" data-bs-target="#minhaApagar">Apagar Número</button>
                                            </form>

                                        
                                           @*    <form asp-action="TornarInativo" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="submit" class="btn btn-warning" style="width:80px;height: 50px;font-size:13px;" data-bs-toggle="modal" data-bs-target="#minhaModal">Inativar Número</button>
                                            </form>
                                            
                                            
                                             <form asp-action="TornarAtivo" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="submit" class="btn btn-success" style="width:80px;height: 50px;font-size:13px;">Ativar número</button>
                                            </form>

                                            <form asp-action="ApagarCelular" asp-controller="Usuario" method="post">
                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                <button type="submit" class="btn btn-danger"  style="width:80px;height: 50px;font-size:13px;">Apagar Número</button>
                                            </form> *@



                                                @*Essa modal de baixo é a de Inativar número*@
                                                <div class="modal fade" id="minhaModal" tabindex="-1" aria-labelledby="minhaModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
      
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="minhaModalLabel" style="font-size: 15px; text-align: center;" >Ação concluída !</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                                      </div>
      
                                                      <div class="modal-body" style="padding: 30px; text-align: center;">
                                                        <div class="mb-3">
                                                            <h1 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px;">
                                                                O Telefone <span style="color: #007bff;">@telefones.NumeroTelefone</span> foi inativado.
                                                            </h1>
                                                        </div>
                                                    </div>

                                                          <div class="modal-footer" style="display: flex; justify-content: center;">
                                                            <form asp-action="TornarInativo" asp-controller="Usuario" method="post">
                                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                                <button type="submit" class="btn btn-primary" style="width:80px; height:50px; font-size:13px;">Ok</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                            @*Essa modal de baixo é a de ativar número*@                                         
                                                <div class="modal fade" id="minhaAtiva" tabindex="-1" aria-labelledby="minhaAtivaLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
      
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="minhaModalLabel" style="font-size: 15px; text-align: center;" >Ação concluída !</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                                      </div>
      
                                                      <div class="modal-body" style="padding: 30px; text-align: center;">
                                                        <div class="mb-3">
                                                            <h1 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px;">
                                                                O Telefone <span style="color: #007bff;">@telefones.NumeroTelefone</span> foi ativado.
                                                            </h1>
                                                        </div>
                                                    </div>
      
                                                          <div class="modal-footer" style="display: flex; justify-content: center;">
                                                            <form asp-action="TornarAtivo" asp-controller="Usuario" method="post">
                                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                                <button type="submit" class="btn btn-primary" style="width:80px; height:50px; font-size:13px;">Ok</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                   
                                                @*Essa modal de baixo é a de Apagart número*@
                                                <div class="modal fade" id="minhaApagar" tabindex="-1" aria-labelledby="minhaApagarLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
      
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="minhaModalLabel" style="font-size: 15px; text-align: center;" >Ação concluída !</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                                      </div>
      
                                                      <div class="modal-body" style="padding: 30px; text-align: center;">
                                                        <div class="mb-3">
                                                            <h1 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px;">
                                                                O Telefone <span style="color: #007bff;">@telefones.NumeroTelefone</span> foi Apagado.
                                                            </h1>
                                                        </div>
                                                    </div>

                                                          <div class="modal-footer" style="display: flex; justify-content: center;">
                                                            <form asp-action="ApagarCelular" asp-controller="Usuario" method="post">
                                                                <input type="hidden" name="id" value="@telefones.TelefoneId" />
                                                                <button type="submit" class="btn btn-primary" style="width:80px; height:50px; font-size:13px;">Ok</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                   

                                   
                                          



                                        </div>
                                    </div>
                                    <p>

                                    </p>

                                }

                            </ul>
                            </dd>
                          
                        <div style="text-align:center; font-size: 40px">
                            <strong>Dados do endereço</strong>
                            <p>


                            </p>
                        </div>
                        <dt class="col-sm-4">Endereço Id:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.EnderecoId</dd>

                        <dt class="col-sm-4">Estado:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Estado</dd>

                        <dt class="col-sm-4">Bairro:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Bairro</dd>

                        <dt class="col-sm-4">Cidade:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Cidade</dd>

                        <dt class="col-sm-4">Cep:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Cep</dd>

                        <dt class="col-sm-4">Logradouro:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Logradouro</dd>

                        <dt class="col-sm-4">Numero da casa:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.NumeroEndereco</dd>

                        <dt class="col-sm-4">Complemento:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Complemento</dd>

                        <dt class="col-sm-4">Situação:</dt>
                        <dd class="col-sm-8">@Model.Usuario.Endereco.Situacao</dd>

                        <div style="text-align:center; font-size: 40px">
                            <strong>Dados de Documentos</strong>
                            <p>


                            </p>
                        </div>

                        <dt class="col-sm-4">Id do documento:</dt>
                        <dd class="col-sm-8">@Model.Usuario.DocumentoIdentificacao.DocumentoIdentificacaoId</dd>


                        <dt class="col-sm-4">Tipo documento:</dt>
                        <dd class="col-sm-8">@Model.Usuario.DocumentoIdentificacao.TipoDocumento</dd>

                        <dt class="col-sm-4">Número do documento:</dt>
                        <dd class="col-sm-8">@Model.Usuario.DocumentoIdentificacao.NumeroDocumento</dd>




                    </dl>

                    <div class="text-center mt-4">
                        <a href="@Url.Action("Index", "Usuario")" class="btn btn-dark px-4 py-2 rounded-pill">
                            Voltar para lista
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
